<div class="img-wrapper">
    <div class="lable-block">
        <span class="lable3" *ngIf='product.new'>new</span>
        <span class="lable4" *ngIf='product.sale'>on sale</span>
    </div>
    <div class="front">
        <a [routerLink]="['/shop/products/', product.id]">
            <img [defaultImage]="ImageSrc ? ImageSrc : 'assets/images/product/placeholder.jpg'"
                 [lazyLoad]="ImageSrc ? ImageSrc : product.images[0].imageUrl" class="img-fluid lazy-loading" alt="">
        </a>
    </div>
</div>
<div class="product-detail text-center ">
    <div class="product-link-name">
        <a [routerLink]="['/shop/products/', product.id]">
            {{ product.name | titlecase }}
        </a>
    </div>

    <h4>
        {{ product?.cost - (product.cost * product.discountPercent / 100) | currency:'VND'}}
        <del *ngIf="product?.discountPercent > 0"><span class="money"> {{ product.cost | currency:'VND' }}</span></del>
    </h4>
    <div class="rating mt-2">
        <bar-rating [rate]="product.averageRating" [readOnly]="true" class="text-center pro-rating"></bar-rating>
    </div>

</div>
<app-quick-view #quickView [product]="product" [currency]="currency"></app-quick-view>
